body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  background-image: url("login.jpeg");
  background-size: cover;
}

.forget {
  background: rgba(44, 62, 80, 0.7);
  padding: 20px 40px 40px 40px;
  width: 250px;
  margin: auto;
  margin-top: 120px;
  height: 300px;
  margin-left: 480px;
}

form {
  width: 240px;
  text-align: center;
}

input[type="button"] {
  width: 150px;
  border: none;
  background: white;
  font-size: 16px;
  padding: 5px 0px;
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  line-height: 25px;
}
input[type="button"]:hover {
  color: #fff;
  background-color: goldenrod;
}

h2 {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
::placeholder {
  color: aliceblue;
  opacity: 0.9;
}

input {
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0px;
  transition: border 0.5s;
  outline: none;
  color: #fff;
}

input[type="password"] {
  background: transparent;
  width: 240px;
  border: none;
  font-size: 16px;
  padding: 10px 0px;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-weight: 200px;
  transition: border 0.5s;
  text-align: center;
}
