body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  background-image: url("login.jpeg");
  background-size: cover;
}

.signup {
  background: rgba(44, 62, 80, 0.7);
  padding: 40px;
  width: 250px;
  margin: auto;
  margin-top: 60px;
  height: 400px;
  margin-left: 480px;
}

form {
  width: 240px;
  text-align: center;
}

input[type="button"] {
  width: 190px;
  border: none;
  background: white;
  font-size: 16px;
  padding: 10px 0px;
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  line-height: 25px;
}
input[type="button"]:hover {
  color: #fff;
  background-color: goldenrod;
}
h2 {
  color: white;
}
a {
  color: yellow;
  text-decoration: blink;
}
a:hover {
  color: skyblue;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
::placeholder {
  color: aliceblue;
  opacity: 0.9;
}
